<main>
    <h1>Create Accessory</h1>
    <div class="form">
        <form method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{#if name}}{{name}}{{/if}}">
            <label for="name">Description</label>
            <textarea id="description" name="description">{{#if description}}{{description}}{{/if}}</textarea>
            <label for="image">ImageUrl</label>
            <input type="text" id="image" name="imageUrl" value="{{#if imageUrl}}{{imageUrl}}{{/if}}>
            <input type=" submit" value="Create">
        </form>
    </div>
</main>

<script>
    const invalidFields = "{{invalidFields}}".split(',');
    invalidFields.forEach(field => {
        const htmlInputElem = document.querySelector(`[name="${field}"]`);
        if (htmlInputElem) {
            htmlInputElem.setAttribute('style', 'border: 1px solid red;');
        }
    });
</script>