<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cubicle</title>
    <link href="/static/styles/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />
</head>

<body>
    <div class="container">
        {{{nav isAuthenticated}}}

        <div id="notifications">
            <p id="notification-message"></p>
        </div>

        {{{body}}}
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>